{{ define "main" }}

<article>
    <h1>{{ .Title }}</h1>

    {{ if .Params.disclaimer }}
        <blockquote>
            <p>
                This content is for educational purposes only. Unauthorized hacking
                is illegal. Use this information ethically and responsibly.
            </p>
        </blockquote>
    {{ end }}

    {{ if .Params.toc }}
        <aside {{ if .Params.tocBorder }} class="toc" {{ end }}>
            {{ .TableOfContents }}
        </aside>
    {{ end }}

    {{ .Content }}
</article>
{{ end }}
